th,
td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

table {
  border-collapse: collapse;
}

.main {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
tbody tr:nth-child(even) {
  background-color: #eaeaea;
}
