th,
td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

table {
  border-collapse: collapse;
}

.main {
  justify-content: center;
  padding-top: 50px;
}
tbody tr:nth-child(even) {
  background-color: #eaeaea;
}
